@import '~antd/dist/antd.css';
@import './fonts';

body {
  background-color: #1c1d1f;
  background-size: contain;
  font-family: 'Open Sans', Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(20, 20, 20);
  font-family: Gotham;
}

// Ant Design Components
/* stylelint-disable */

#root {
  height: 100%;
  overflow-x: hidden;
}

header {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  overflow-x: hidden;
}

main {
  // background-color: #1c1d1f;
  display: flex !important;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
  margin-top: 80px;
  padding: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

/* layout */
.ant-layout-header {
  background-color: #323639;
  font-family: 'Poppins', sans-serif;
  height: 80px;
  padding: 2rem 2rem 2rem 2rem;
  top: 0;
}

/* side menu */
aside[class*='SideMenu'] {
  margin-top: 80px;
  background-color: #323639;
  z-index: 100;


  ul {
    background-color: #323639;
    border: none;
  }

  span {
    color: white;
  }
  .ant-layout-sider {
    background-color: #323639;
  }

  .ant-layout-sider-children {
    margin-top: 1rem;
    background-color: #323639;
  }

  .ant-menu-item-active {
    &:hover {
      background-color: #d4e4f6;
    }
  }

  .ant-menu-item:active {
    background-color:  #D6D6D7;
    color: black !important;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #D6D6D7;

    span {
      color: #323639;
      font-weight: 700;
    }
  }
}

aside[class*='Appointments'] {
  .ant-badge-status {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.ant-btn-primary {
  color: #fff;
  background: #323639;
  border-color: #323639;
}