@import '~antd/dist/antd.css';

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: darkblue;
  font-family: Gotham;
}

// Ant Design Components
/* stylelint-disable */

#root {
  height: 100%;
  overflow-x: hidden;
}

/* stylelint-enable */

header {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  overflow-x: hidden;
}

main {
  background-color: #f5f6f8;
  display: flex !important;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* stylelint-disable */

/* layout */
.ant-layout-header {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  height: 80px;
  padding: 2rem 2rem 2rem 2rem;
  top: 0;
}

/* side menu */
aside[class*='SideMenu'] {
  background-color: white;

  .ant-layout-sider {
    background-color: white;
    height: 100%;
  }

  .ant-layout-sider-children {
    margin-top: 5rem;
    background-color: white;
  }

  .ant-menu-item-active {
    &:hover {
      background-color: #d4e4f6;
    }
  }

  .ant-menu-item:active {
    background-color: transparent;
    color: black !important;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #d4e4f6;

    span {
      color: black;
      font-weight: 700;
    }
  }
}
