{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react", "jest", "prettier"],
  "extends": [
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./src"
  },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  }
}
