.Container {
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.NavItems {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;

  a {
    &:hover {
      color: blue;
    }
  }

  span {
    font-size: 16px;
    font-weight: 600;
  }
}
