.PropertyCard {
  border: solid 1px #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

.PropertyDiv {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.CreateButton {
  float: right;
  margin-bottom: 0.5rem;
  min-width: 100px;
  width: fit-content;
}

.Events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.PropertyImage {
  border-radius: 16px;
  max-height: 300px;
  max-width: 300px;
}

.ButtonsDiv {
  display: flex;
  flex-direction: row !important;
  float: right;
  margin-top: 22%;
}
